/* *CUSTOM PROPERTIES */
:root {
  --ms_header-bg: #2c3e50;
  --ms_hero-about-bg: #1abc9c;
  --ms_portfolio-contact-bg: #ffffff;
  --ms_info-bg: #3a546d;
}

* {
  color: white;
}

/* *IMG RESET */
img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0px;
}

ul > li {
  margin: 5px;
}
/* *COMMON */

/* HEADER */
.ms_nav {
  background-color: var(--ms_header-bg);
}

/* MAIN */
main {
  /* debug */
  background-color: red;
}

.ms_hero_section {
  background-color: var(--ms_hero-about-bg);
  padding: 30px 0;
}

.ms_portfolio_section {
  background-color: var(--ms_portfolio-contact-bg);
}

.ms_about_section {
  background-color: var(--ms_hero-about-bg);
}

.ms_contact_section {
  background-color: var(--ms_portfolio-contact-bg);
}

.ms_contact_section .form-group > input {
  margin: 15px 0;
}

.ms_footer_section {
  background-color: var(--ms_info-bg);
}

.ms_copyright_section {
  background-color: var(--ms_header-bg);
  font-size: 12px;
}

/* *UTILITIES */

.ms_width_100 {
  width: 100%;
}

.ms_height_80 {
  height: 80px;
}

.ms_min_height_400 {
  min-height: 400px;
}

.ms_container {
  max-width: 1170px;
  margin: 0 auto;
}

.ms_img_ctn > img {
  width: 60%;
}

.ms_title {
  font-size: clamp(1em, calc(5vw + 0.8rem), 5em);
}

.ms_title_medium {
  font-size: clamp(1em, calc(5vw + 0.6rem), 3em);
}

.ms_subtitle {
  font-size: clamp(12px, calc(2vw + 0.4rem), 2em);
}

.ms_line {
  width: calc(100% / 3 - 13%);
  border: 2px solid white;
  align-self: center;
}

.ms_line_short {
  width: calc(100% / 3 - 20%);
  border: 2px solid white;
  align-self: center;
}

.ms_noborder {
  border: none;
}

.ms_star {
  font-size: clamp(1em, calc(5vw + 0.8rem), 2em);
}

.ms_green_btn {
  background-color: var(--hero-about-bg);
}

.ms_green_link {
  color: var(--hero-about-bg);
  text-decoration: none;
}

.ms_circle {
  width: 40px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}

.btn-success {
  background-color: var(--ms_hero-about-bg) !important;
}

.btn-outline-light:hover i {
  color: black;
}

@media screen and (min-width: 768px) {
  .ms_img_ctn > img {
    max-width: 30%;
  }

  .ms_nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .ms_hero_section {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
