/* *CUSTOM PROPERTIES */
:root {
  --header-bg: #2c3e50;
  --hero-about-bg: #1abc9c;
  --portfolio-contact-bg: #ffffff;
  --bordeaux: #ba4b63;
  --aqua: #1ea4b6;
  --black: #140f0f;
  --ocean: #1c83c1;
  --blue: #0e38b5;
  --mud: #ccb2a3;
  --info-bg: #3a546d;
}

* {
  color: white;
}

/* *IMG RESET */
img {
  max-width: 100%;
}

/* *COMMON */

/* HEADER */
header {
  background-color: var(--header-bg);
}

/* MAIN */
main {
  /* debug */
  background-color: red;
}

.ms_hero_section {
  background-color: var(--hero-about-bg);
}

.ms_portfolio_section {
  background-color: var(--portfolio-contact-bg);
}

.ms_about_section {
  background-color: var(--hero-about-bg);
}

.ms_contact_section {
  background-color: var(--portfolio-contact-bg);
}

.ms_contact_section .form-group > input {
  margin: 15px 0;
}

.ms_footer_section {
  background-color: var(--info-bg);
}

.ms_copyright_section {
  background-color: var(--header-bg);
}

/* *UTILITIES */

.ms_width_100 {
  width: 100%;
}

.ms_height_80 {
  height: 80px;
}

.ms_min_height_400 {
  min-height: 400px;
}

.ms_container {
  max-width: 1170px;
  margin: 0 auto;
}

.ms_img_ctn > img {
  width: 60%;
}

.ms_title {
  font-size: clamp(1em, calc(5vw + 0.8rem), 5em);
}

.ms_title_medium {
  font-size: clamp(1em, calc(5vw + 0.6rem), 3em);
}

.ms_subtitle {
  font-size: clamp(12px, calc(2vw + 0.4rem), 2em);
}

.ms_line {
  width: calc(100% / 3 - 13%);
  border: 2px solid white;
  align-self: center;
}

.ms_line_short {
  width: calc(100% / 3 - 20%);
  border: 2px solid white;
  align-self: center;
}

.ms_noborder {
  border: none;
}

.ms_star {
  font-size: clamp(1em, calc(5vw + 0.8rem), 2em);
}

.ms_green_btn{
  background-color: var(--hero-about-bg);
}

@media screen and (min-width: 768px) {
  .ms_img_ctn > img {
    max-width: 30%;
  }
}
